.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
Dockerfile
docker-compose.yml
Vagrantfile
phpcs.xml
phpunit.xml.dist
public/.htaccess
public/index.php
public/web.config
public/img
public/layout_browser
public/layout_mobile
/module/Application/src/Models/UtilsFile.php
